@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import 'primeicons/primeicons.css';


@theme {
    --font-roboto: "Poppins", sans-serif; 
    --color-CharcoalBlue: #212A31;
    --color-Gunmetal: #2E3944;
    --color-DarkTeal: #124E66;
    --color-SteelBlue: #748D92;
    --color-LightGray: #D3D9D4;
    --color-rojo-error: #A31D1D;
} 

*{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: #F0F6FF;
}

section{
    padding: 40px;
}

main{
    width: screen;
}

button{
    cursor: pointer;
}

.mirror {
    transform: scaleX(-1);
}
  
.p-button{
    color: white !important;
}

.p-button:hover{
    background-color: transparent !important;
}

.p-datatable-column-sorted{
    background-color: #212A31 !important;
    color: white !important;
}

.p-datatable-sort-icon{
    color: white !important;
}

.p-inputtext:focus{
    border: 2px solid #212A31 !important;
}

.p-focus{
    border-color: #124E66 !important;
}

.p-select-option.p-select-option-selected{
    background: linear-gradient(to bottom, #124E66, #212A31) !important;
    color: white !important;
}

.p-paginator-page-selected{
    background: linear-gradient(to bottom, #124E66, #212A31) !important;
    color: white !important;

}

.p-dialog-title{
    color: #124E66 !important;
}

.btn-detail, .btn-submit{
    background-color: #124E66 !important;
    border: 2px solid #124E66 !important;
}

.btn-detail:hover, .btn-submit:hover{
    color: #124E66 !important;
}

.btn-edit{
    background-color: #748D92 !important;
    border: 2px solid #748D92 !important;
}

.btn-edit:hover{
    color: #748D92 !important;
}

.btn-delete, .btn-cancel{
    background-color: #A31D1D !important;
    border: 2px solid #A31D1D !important;
}

.btn-delete:hover, .btn-cancel:hover{
    color: #A31D1D !important;
}

.btn-export, .p-dialog-close-button{
    background-color: #212A31 !important;
    border: 2px solid #212A31 !important;
}

.btn-export:hover, .p-dialog-close-button:hover{
    color: #212A31 !important;
}

.p-carousel-indicator-active .p-carousel-indicator-button{
    background: linear-gradient(to bottom, #124E66, #212A31) !important;
    color: white !important;
}

.p-carousel-next-button, .p-carousel-prev-button{
    color: #212A31 !important;
}

.p-carousel-viewport{
    padding: 10px 0px;
}